{%load static%}
{% load i18n%}
{{trans}} <br>
{% trans 'I am a big boy here in the united states' %}
<p style="width: 295px; font-family:'Gill Sans', 'Gill Sans MT', sans-serif ; ; text-align: center;">
    Welcome to our food ordering app! Get ready to
    explore a world of delicious flavors
    and satisfy your cravings with just a few taps. 
    Enjoy the convenience of ordering your favorite
    meals right from your fingertips. <br>
    Bon appétit!
</p>
<img src="" style="width: 295px; 
background-color: rgba(165, 42, 42, 0.808); border-radius: 12px;" alt="">
<p style=" font-family:'Gill Sans', 'Gill Sans MT', sans-serif ; ; width: 295px; text-align: center;">

    We're delighted to have you on board Grabem
    From sizzling steaks to mouthwatering pizzas
    and everything in between, we've got a wide
    range of cuisines to tantalize your taste buds.
    Sit back, relax, and <br>
    let the culinary adventure begin!
</p>

<img src="" style="width: 295px; 
background-color: rgba(165, 42, 42, 0.808); border-radius: 12px;" alt="">
<p style=" font-family:'Gill Sans', 'Gill Sans MT', sans-serif ; width: 295px; text-align: center;">

    Thank you for choosing Grabem as your culinary companion. 
    We're excited to bring you a diverse menu of culinary 
    masterpieces from top-notch restaurants. Sit back, relax, 
    and let the aromatic flavors transport you to a world of 
    culinary bliss. Happy ordering!
</p>
